@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root {
  --main-bg-color: #D9C6BF;
  --color-sec:#BF1111;
}

html {
  background-color: darkred;
}

h1 {
  color: whitesmoke;
  margin:auto;
  height: 100%;
  margin-bottom:0 !important;
}

h1, h2 {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}

.queue a{
  color: whitesmoke !important;
  text-decoration: none !important;
}

.queue a:hover{
  color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height:75vh;
}

.calculator-display {
  color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  background-color: gray;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
}

.button-row {
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.m-auto {
  margin:auto !important;
}

.calculator-button {
  border-radius: 0;
  border:solid darkgray 2px; 
  padding: 1.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.calculator-operation-button {
  background-color: orange;
  width: 25%;
}

.no-padding {
  padding: 0 !important;
}

.quote {
  font-size:2rem;
}

.links {
  justify-content: space-around;
}

.links a {
  padding: 0.2rem;
}

.links a:hover {
  background-color: darkred;
  border-radius: 0.3rem;
}

.logo {
  background-color: var(--color-sec);
}

.quotes-container {
  background-color: rgba(164,164,164, 0.2);
  border-radius: 0.3rem;
}

.content-container {
  display: flex;
  flex-firection: column;
  justify-content: center;
  height: 100%;
}

h2, h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

footer {
  border-top: solid darkred 1rem;
  background-color: darkred;
  color: white;
}

ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

#root a {
  color: darkred !important;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none !important;
    color: white !important;
}

.author {
  font-size: 2rem;
  font-family: 'Akaya Telivigala', cursive;
}

footer strong {
  font-size: 1.2rem;
}

.license { 
  border-top: solid rgba(240, 230, 230, 0.2) 1px;
}

@media screen and (max-device-width: 768px) {
  .links {
    justify-content: space-around;
    background-color:darkred;
  }

  footer ul {
    border-top: solid darkred 1px;
    padding: 1rem;
    text-align: center;
  }

  h2, h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  #root {
    background-color: whitesmoke;
    width: 100%;
    padding: 2rem 1rem ;
    margin:auto;
    min-height: 60vh;
    justify-content: center;
  }
}
