@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

:root {
  --main-bg-color: #D9C6BF;
  --color-sec:#BF1111;
}

html {
  background-color: var(--main-bg-color);
}

h1 {
  color: whitesmoke;
}

h1, h2 {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}

.queue a{
  color: whitesmoke !important;
  text-decoration: none !important;
}

.queue a:hover{
  color: whitesmoke;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.calculator-display {
  color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  background-color: gray;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
}

.button-row {
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.calculator-button {
  border-radius: 0;
  border:solid darkgray 2px; 
  padding: 1.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.calculator-operation-button {
  background-color: orange;
  width: 25%;
}

.no-padding {
  padding: 0 !important;
}

.quote {
  font-size:2rem;
}

.board {
  background-color: var(--color-sec);
}

.queue {
  background-color: darkred;
}

.quotes-container {
  background-color: rgba(164,164,164, 0.2);
  border-radius: 0.3rem;
}

@media screen and (max-device-width: 768px) {
  #root {
    background-color: whitesmoke;
    width: 100%;
    padding: 2rem 1rem ;
    margin:auto;
    min-height: 60vh;
    justify-content: center;
  }
}
